html,

body {
    height: 100%;
    /* width: 100%; */
}

.bg-header {
    background: url(../storage/img/header.png);
    background-attachment: fixed;
    background-size: cover;
}

.img-card {
    width: 50%;
}

.social-media {
    font-size: 18px;
}

.social-media i {
    color: #343A40;
}

.shadow-small {
    box-shadow: 0px 8px 10px grey;
}

.shadow-small:hover {
    box-shadow: 0px 15px 20px grey;
    transition: 0.25s;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-underline-from-center:active:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0
}
